/* @media only screen and (max-width: 1440px) {

} */

@media only screen and (max-width: 1200px) {
  .main-content-btns {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 992px) {
  .up-content {
    width: 115%;
  }
  .main-content {
    margin-top: 105px;
    max-width: 450px;
  }
  .main-content-btns {
    margin-top: 10%;
    margin-right: 35%;
    
  }
  .first-project-frame {
    width: 500px;
    height: 400px;
    margin-left: 50%;
  }
  .second-project-frame {
    width: 500px;
    height: 400px;
    margin-left: 50%;
  }
  .third-project-frame {
    width: 500px;
    height: 400px;
    margin-left: 50%;
  }
  .footer-content {
    width: 115%;
  }
  .footer-mynzzz {
    margin-left: 18%;
  }
}

/* @media only screen and (max-width: 768px) {

} */

/* @media only screen and (max-width: 480px) {

} */

/* @media only screen and (max-width: 320px) {
  .up-content {
    width: 115%;
    height: 100%;
  }
} */