@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

@font-face {
  font-family: 'russo';
  src: url('src/fonts/RussoOne-Regular.ttf') format("typetrue");
}

body, html {
  background: #232326;
  margin: 0 0;
  cursor: default;
}
a {
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
  color: #fff;
}

.container {
  height: 200%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  background: #2D2D33;
}

/* ВЕРХНЯЯ СТРОКА */
.up-content {
  display: flex;
  max-width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 42, 45, 0.685);
}
.up-text {
  color: white;
  font-size: x-large;
  font-family: 'russo', sans-serif;
  letter-spacing: 2px;
  text-shadow: 0 0 20px white;
}
.up-text:hover {
  text-shadow: 0 0 15px white;
}


/* ОСНОВНОЙ КОНТЕНТ */
.main-content {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  margin: 10%;
  max-width: 300px;
}
.avatar img {
  width: 100%;
  border-radius: 20px;
}
.avatar img:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}

.description {
  color: rgb(205, 197, 225);
  background-color: rgb(83, 80, 96);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  text-align: center;
  max-width: 550px;
  max-height: 300px;
  padding: 0 10px;
  margin-top: 11%;
}
.description:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.description h1 {
  font-style: italic;
  color: #fff;
}
.description h1:hover {
  text-shadow: 0 0 20px #fff;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
._button {
  color: rgba(255, 255, 255, .4);
  padding: 20px 30px;
  font-size: x-large;
  text-decoration: none;
  border: 1.6px solid rgba(255, 255, 255, .4);
  border-radius: 40px;
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._button:hover {
  box-shadow: 0 0 20px #fff;
  border-color: #fff;
  color: white;
}

.modal-social {
  visibility: hidden;
  background-color: rgb(83, 80, 96);
  width: 50%;
  height: 50%;
  padding: 10px 10px;
  border: 2px solid rgb(83, 80, 96);
  border-radius: 20px;
  box-shadow: 0 0 5000px rgb(83, 80, 96);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15%;
  bottom: 10%;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: 0 auto;
}
.modal-social__active {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
  transition: .8s;
}
.modal-social__close {
  padding: 5px 10px;
  font-size: 20px;
  position: absolute;
  margin-left: 90%;
  margin-bottom: 40%;
  border: 3px solid #fff;
  border-radius: 20px;
  background: rgb(83, 80, 96);
  color: #fff;
}
.modal-social__close:hover {
  box-shadow: 0 0 20px #fff;
  background: rgb(149, 146, 165);
  color: rgb(51, 50, 53);
  font-size: 25px;
  padding: 10px 17px;
  border-radius: 100%;
}
.modal-social__active .modal-social__close:hover {
  transition: .3s;
}
.modal-social__content {
  display: flex;
  flex-flow: row wrap;
  width:  100%;
  justify-content: space-around;
  margin-top: 4%;
  margin-right: 4%;
}
.ms-item {
  color: #fff;
  border: 6px solid #fff;
  border-radius: 100%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 115px;
  height: 110px;
  padding: 3% 0;
  margin: 10% 10%;
}
.ms-vk:hover {
  color: rgba(0, 119, 255, 1);
  border-color: rgba(0, 119, 255, 1);
  box-shadow: 0 0 20px rgba(0, 119, 255, 1);
}
.ms-instagram:hover {
  color: #bc2a8d;
  border-color: #bc2a8d;
  box-shadow: 0 0 20px #bc2a8d;
}
.ms-tiktok:hover {
  color: #000000;
  border-color: #000000;
  box-shadow: 0 0 20px #000000;
}
.ms-youtube:hover {
  color: #c4302b;
  border-color: #c4302b;
  box-shadow: 0 0 20px #c4302b;
}
.ms-github:hover {
  color: #171515;
  border-color: #171515;
  box-shadow: 0 0 20px #171515;
}
.ms-stack:hover {
  color: #f48024;
  border-color: #f48024;
  box-shadow: 0 0 20px #f48024;
}
.ms-codepen:hover {
  color: #171515;
  border-color: #171515;
  box-shadow: 0 0 20px #171515;
}
.ms-reddit:hover {
  color: #FF4300;
  border-color: #FF4300;
  box-shadow: 0 0 20px #FF4300;
}
.ms-discord:hover {
  color: #7289da;
  border-color: #7289da;
  box-shadow: 0 0 20px #7289da;
}
.ms-telegram:hover {
  color: rgba(42, 171, 238, 1);
  border-color: rgba(42, 171, 238, 1);
  box-shadow: 0 0 20px rgba(42, 171, 238, 1);
}

.hidden {
  overflow: clip;
}


.pinned-projects {
  background-color: #353539;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 10%;
}
.pp-header {
  font-size: xx-large;
  color: #fff;
  margin-left: 50px;
  margin-top: 30px;
}
.pp-header b {
  padding-left: 20px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.pp-header b:hover {
  text-shadow: 0 0 20px #fff;
}
.pp-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
}
.pp-image {
  width: 300px;
  align-items: center;
}
.pp-image img {
  border: 2px solid rgba(191, 0, 255, 0.97);
  border-radius: 30px;
}
.pp-image img:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.pp-description {
  border: 2px solid rgba(191, 0, 255, 0.97);
  border-radius: 30px;
  margin-left: 50px;
  max-width: 550px;
  text-align: center;
  justify-content: center;
  padding: 20px 20px;
}
.pp-description:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.pp-description b {
  font-size: 50px;
  color: #fff;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.pp-description p {
  font-size: 25px;
  color: rgba(255, 255, 255, .4);
  font-family: 'Montserrat', sans-serif;
}
.pp-description b:hover {
  text-shadow: 0 0 20px #fff;
}


/* НИЖНЕЕ ПОЛЕ */
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.footer-social {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  font-size: 40px;
}
.social-frame {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-github:hover {
  color: #171515;
  border-color: #171515;
  box-shadow: 0 0 20px #171515;
}
.footer-vk:hover {
  color: rgba(0, 119, 255, 1);
  border-color: rgba(0, 119, 255, 1);
  box-shadow: 0 0 20px rgba(0, 119, 255, 1);
}
.footer-telegram:hover {
  color: rgba(42, 171, 238, 1);
  border-color: rgba(42, 171, 238, 1);
  box-shadow: 0 0 20px rgba(42, 171, 238, 1);
}