@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

@font-face {
  font-family: 'russo';
  src: url('src/fonts/RussoOne-Regular.ttf') format("typetrue");
}

body, html {
  background: #232326;
  margin: 0 0;
  cursor: default;
}
a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.container {
  height: 200%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  background: #2D2D33;
}

/* ВЕРХНЯЯ СТРОКА */
.up-content {
  display: flex;
  max-width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 42, 45, 0.685);
}
.up-text {
  color: white;
  font-size: x-large;
  font-family: 'russo', sans-serif;
  letter-spacing: 2px;
  text-shadow: 0 0 20px white;
}
.up-text:hover {
  text-shadow: 0 0 15px white;
}


/* ОСНОВНОЙ КОНТЕНТ */
.main-content {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  margin: 10%;
  max-width: 300px;
}
.avatar img {
  width: 100%;
  border-radius: 20px;
}
.avatar img:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}

.description {
  color: rgb(205, 197, 225);
  background-color: rgb(83, 80, 96);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  text-align: center;
  max-width: 550px;
  max-height: 300px;
  padding: 0 10px;
  margin-top: 11%;
}
.description:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.description h1 {
  font-style: italic;
  color: #fff;
}
.description h1:hover {
  text-shadow: 0 0 20px #fff;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
._button {
  color: rgba(255, 255, 255, .4);
  padding: 20px 30px;
  font-size: x-large;
  text-decoration: none;
  border: 1.6px solid rgba(255, 255, 255, .4);
  border-radius: 40px;
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._button:hover {
  box-shadow: 0 0 20px #fff;
  border-color: #fff;
  color: white;
}

.pinned-projects {
  background-color: #353539;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 10%;
}
.pp-header {
  font-size: xx-large;
  color: #fff;
  margin-left: 50px;
  margin-top: 30px;
}
.pp-header b {
  padding-left: 20px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.pp-header b:hover {
  text-shadow: 0 0 20px #fff;
}
.pp-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
}
.pp-image {
  width: 300px;
  align-items: center;
}
.pp-image img {
  border: 2px solid rgba(191, 0, 255, 0.97);
  border-radius: 30px;
}
.pp-image img:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.pp-description {
  border: 2px solid rgba(191, 0, 255, 0.97);
  border-radius: 30px;
  margin-left: 50px;
  max-width: 550px;
  text-align: center;
  justify-content: center;
  padding: 20px 20px;
}
.pp-description:hover {
  box-shadow: 0 0 30px rgba(191, 0, 255, 0.97);
}
.pp-description b {
  font-size: 50px;
  color: #fff;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.pp-description p {
  font-size: 25px;
  color: rgba(255, 255, 255, .4);
  font-family: 'Montserrat', sans-serif;
}
.pp-description b:hover {
  text-shadow: 0 0 20px #fff;
}


/* НИЖНЕЕ ПОЛЕ */
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.footer-social {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  font-size: 40px;
}
.social-frame {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-github:hover {
  color: #171515;
  border-color: #171515;
  box-shadow: 0 0 20px #171515;
}
.footer-vk:hover {
  color: rgba(0, 119, 255, 1);
  border-color: rgba(0, 119, 255, 1);
  box-shadow: 0 0 20px rgba(0, 119, 255, 1);
}
.footer-telegram:hover {
  color: rgba(42, 171, 238, 1);
  border-color: rgba(42, 171, 238, 1);
  box-shadow: 0 0 20px rgba(42, 171, 238, 1);
}